
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Games</h2>
                    <hr class="star-primary">
                </div>
            </div>
			<div class="row">
				<div class="col-lg-12 text-center">
					<p>Our first game, <strong>Corpse Mob</strong> is coming to Steam in May 2018! It's a fast paced arcade style top down shooter with local co-op supporting up to 4 players and a little RPG flavor.</p>
				</div>
			</div>
            <div class="row">
               <!--  {% for post in site.posts %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                    </div>
                {% endfor %} -->
				<div class="col-sm-4 portfolio-item">
					<a href="img/screenshot01.jpg">
						<img src="img/screenshot01t.jpg" class="img-responsive" alt="Screenshot01">
					</a>
				</div>
				<div class="col-sm-4 portfolio-item">
					<a href="img/screenshot02.jpg">
						<img src="img/screenshot02t.jpg" class="img-responsive" alt="Screenshot02">
					</a>
				</div>
				<div class="col-sm-4 portfolio-item">
					<a href="img/screenshot03.jpg">
						<img src="img/screenshot03t.jpg" class="img-responsive" alt="Screenshot03">
					</a>
				</div>
            </div>			
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center">
					<ul class="list-group">
						<li class="list-group-item">Battle huge zombie hordes and defeat abominations such as the Brute, the Kamikaze, the Spitter or the mighty Queen</li>
						<li class="list-group-item">Team up with up to 4 buddies for some oldschool couch coop and defeat the invasion together</li>
						<li class="list-group-item">Be prepared for the fight wielding melee weapons and guns: katanas, shotguns, railguns chainsaws and many more</li>
						<li class="list-group-item">Gain levels to reach more and more challenging enemies, defeat powerful bosses and get achievements</li>						
					</ul>					 
				</div>
			</div>
    </section>